body {
    overflow-x: hidden; 
    /* overflow-y: hidden;  */
  
    /* position: ; */
 }
 
header
{
    background-image: url(images/pic02.jpg);
    /* background-size: cover; */
    
}

.h2
{
    position: relative;
    left: 50%;
    color: blueviolet;
}
li
{
    /* color: white; */
}